<h1>Editing formularios_cpus_producidas_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', @formularios_cpus_producidas_detalle %> |
<%= link_to 'Back', formularios_cpus_producidas_detalles_path %>
