<h1>Editing pedidos_de_compras_de_componentes_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', @pedidos_de_compras_de_componentes_detalle %> |
<%= link_to 'Back', pedidos_de_compras_de_componentes_detalles_path %>
