<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad solicitada:</strong>
  <%= @pedidos_de_compras_de_componentes_detalle.cantidad_solicitada %>
</p>

<%= link_to 'Edit', edit_pedidos_de_compras_de_componentes_detalle_path(@pedidos_de_compras_de_componentes_detalle) %> |
<%= link_to 'Back', pedidos_de_compras_de_componentes_detalles_path %>
