<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad terminada:</strong>
  <%= @traslado_detalle.cantidad_terminada %>
</p>

<%= link_to 'Edit', edit_traslado_detalle_path(@traslado_detalle) %> |
<%= link_to 'Back', traslado_detalles_path %>
