<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @stocks_componente.cantidad_disponible %>
</p>

<%= link_to 'Edit', edit_stocks_componente_path(@stocks_componente) %> |
<%= link_to 'Back', stocks_componentes_path %>
