<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_de_deposito.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_de_deposito_path(@tipo_de_deposito) %> |
<%= link_to 'Back', tipos_de_depositos_path %>
